* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  background-image: url(static/amazon_logo.png);
  height: 50px;
  width: 100%;
  background-size: cover;
}
.nav-logo {
  height: 50px;
  width: 100px;
}
.border {
  border: 1.5px solid transparent;
  padding: 2px 9px;
}
.border:hover {
  border: 1.5px solid white;
}
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}

/*box3 styling*/

.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 4px;
  padding: 0%;
}
.nav-search:hover {
  border: 2px solid orange;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(227, 148, 57);
  color: black;
}

/** box4 styling **/
span {
  font-size: 0.7rem;
}
.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}
/*box6*/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/** pannel style **/
.pannel{
    display: flex;
    height: 40px;
    font-weight: 600;
    background-color: #232f3e;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
a{
    color: white;
    text-decoration: none;
    padding: 8px 9px;
    margin: 5px 0px 6px;
}
.panel-all{
    padding: 6px 8px;
}
a:hover{
    border: 1.5px solid white;
}
.panel-deals{
    margin: 6px 2px 7px 1px;
    padding: 5px 8px 6px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}